{% extends "aplicacion/index.html" %}
{% load static %}

{% block titulo %}
<h1>Agregar Habitación</h1>
{% endblock titulo %}

{% block contenido %}
<form method="post">
    {% csrf_token %}
    <label for="numero">Número de Habitación:</label>
    <input type="text" id="numero" name="numero" required>

    <label for="tipo">Tipo de Habitación:</label>
    <select id="tipo" name="tipo" required>
        <option value="compartida">Compartida</option>
        <option value="privada">Privada</option>
    </select>
    <button type="submit">Agregar Habitación</button>
</form>
{% endblock contenido %}