<!--
{% extends "aplicacion/index.html" %}

{% block title %}Clinica Modelo{% endblock %}
{% block header %}
    <h1>Bienvenido a la Clinica Modelo</h1>
    <p>Su salud, nuestra prioridad.</p>  

{% endblock %}

{% block content %}
    <p>La mejor atención médica a su alcance.</p>
    <p>Para buscar doctores, haga clic en el enlace de búsqueda.</p>
{% endblock %}

{% block content %}
    <form method="GET">
        <input type="text" name="Apellido" placeholder="Buscar por apellido">
        <input type="text" name="especialidad" placeholder="Buscar por especialidad">
        {% csrf_token %}
        <button type="submit">Buscar</button>
    </form>
    {% if resultados %}
        <ul>
            {% for doctor in resultados %}
                <li>{{ doctor.nombre }} - {{ doctor.apellido }} - {{ doctor.especialidad }}</li>
            {% empty %}
            {% if resultados is empty %}
                <li>No se encontraron resultados.</li>
            {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}